body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

}
.contener{
  height: 300px;
  width: 300px;
  box-shadow: 0 0 20px rgba(219, 81, 231, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.count{
  font-size: 50px;
  font-weight: 600;
}
.inc, .dec ,.res{
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
    MARGIN: 5px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    
}