.maincard{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top:40px;
}

.card{
    width: 250px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}